/* Background Image */

body {
    background-image: url(assets/background.jpg);
    font-family: 'Montserrat', sans-serif;
}


/* styling for Navigation */

#navbarNav a {
    color: gray;
}

#navbarNav a:hover {
    color: black;
}

.bottom-line {
    border-bottom: 2px solid #d6d0d0;
}


/* Added this for fun, lines between the nav items */

.vertical-line {
    display: inline-block;
    border-left: 1px solid #ccc;
    margin: 0 10px;
    height: 15px;
}


/* styling for Containers */

.about-me-row {
    margin: 5%;
}

.my-header {
    padding: 10px;
    margin-left: 40px;
}


/* Styling for Footer starts here */

.top-line {
    border-top: 5px solid #16a3b8;
}

.my-footer {
    background-color: gray;
}

.footer a {
    color: #22262a;
    text-decoration: underline;
}