body {
    background-image: url(assets/images/background\ image.jpg);
}
.my-row {
    margin-top: 10%;
}
.my-footer {
    background-color: gray;
    border-top: 10px;
    border-color: aqua;
}

.my-about-me {
    margin: 20px;
}

.about-me-row {
    margin: 5%;
}